.slideshow {
  margin: 0 auto;
  padding: 0 0 200px 0;
  height: auto;
  background-image: url(../img/wood.jpg);
  box-sizing: border-box;
  position: relative;
  display: table;
  width: 100%;

}
figure {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start:0;
  margin-inline-end: 0;
}
.content {
  margin: auto;
  width: 200px;
  perspective: 1800px;
  position: relative;
  padding-top: 76px;
}

.content-carrose {
  width: 110%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d;
}

.content-carrose:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrose figure {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  overflow: hidden;
  position: absolute;
}
.slideshow div.content{
  margin : 70px auto;
}
.slideshow div.content:first-child{
  margin-top:0;
}
.slideshow div.content:last-child{
  margin-bottom:0;
}
.content-carrose figure:nth-child(1){
  transform: rotateY(0deg) translateZ(300px);
}
.content-carrose figure:nth-child(2){
  transform: rotateY(40deg) translateZ(300px);
}
.content-carrose figure:nth-child(3){
  transform: rotateY(80deg) translateZ(300px);
}
.content-carrose figure:nth-child(4){
  transform: rotateY(120deg) translateZ(300px);
}
.content-carrose figure:nth-child(5){
  transform: rotateY(160deg) translateZ(300px);
}
.content-carrose figure:nth-child(6){
  transform: rotateY(200deg) translateZ(300px);
}
.content-carrose figure:nth-child(7){
  transform: rotateY(240deg) translateZ(300px);
}
.content-carrose figure:nth-child(8){
  transform: rotateY(280deg) translateZ(300px);
}
.content-carrose figure:nth-child(9){
  transform: rotateY(320deg) translateZ(300px);
}
.content-carrose figure:nth-child(10){
  transform: rotateY(0deg) translateZ(300px);
}
.content-carrose figure:nth-child(11){
  transform: rotateY(400deg) translateZ(300px);
}
.content-carrose figure:nth-child(12){
  transform: rotateY(440deg) translateZ(300px);
}
.content-carrose figure:nth-child(13){
  transform: rotateY(480deg) translateZ(300px);
}
.content-carrose figure:nth-child(14){
  transform: rotateY(520deg) translateZ(300px);
}
.content-carrose figure:nth-child(15){
  transform: rotateY(560deg) translateZ(300px);
}
.content-carrose figure:nth-child(16){
  transform: rotateY(600deg) translateZ(300px);
}
.content-carrose figure:nth-child(17){
  transform: rotateY(640deg) translateZ(300px);
}
.content-carrose figure:nth-child(18){
  transform: rotateY(680deg) translateZ(300px);
}
.content-carrose figure:nth-child(19){
  transform: rotateY(720deg) translateZ(300px);
}
.content-carrose figure:nth-child(20){
  transform: rotateY(760deg) translateZ(300px);
}
.content-carrose figure:nth-child(21){
  transform: rotateY(800deg) translateZ(300px);
}
.content-carrose figure:nth-child(22){
  transform: rotateY(840deg) translateZ(300px);
}
.content-carrose figure:nth-child(23){
  transform: rotateY(880deg) translateZ(300px);
}
.content-carrose figure:nth-child(24){
  transform: rotateY(920deg) translateZ(300px);
}
.content-carrose figure:nth-child(25){
  transform: rotateY(940deg) translateZ(300px);
}
.content-carrose figure:nth-child(26){
  transform: rotateY(980deg) translateZ(300px);
}
.content-carrose figure:nth-child(27){
  transform: rotateY(1020deg) translateZ(300px);
}
.content-carrose figure:nth-child(28){
  transform: rotateY(1060deg) translateZ(300px);
}
.content-carrose figure:nth-child(29){
  transform: rotateY(1100deg) translateZ(300px);
}
.content-carrose figure:nth-child(30){
  transform: rotateY(1140deg) translateZ(300px);
}
.content-carrose figure:nth-child(31){
  transform: rotateY(1180deg) translateZ(300px);
}
.content-carrose figure:nth-child(32){
  transform: rotateY(1220deg) translateZ(300px);
}
.content-carrose figure:nth-child(33){
  transform: rotateY(1260deg) translateZ(300px);
}
.content-carrose figure:nth-child(34){
  transform: rotateY(1300deg) translateZ(300px);
}
.content-carrose figure:nth-child(35){
  transform: rotateY(1340deg) translateZ(300px);
}
.content-carrose figure:nth-child(36){
  transform: rotateY(1380deg) translateZ(300px);
}
.content-carrose figure:nth-child(37){
  transform: rotateY(1420deg) translateZ(300px);
}
.content-carrose figure:nth-child(38){
  transform: rotateY(1460deg) translateZ(300px);
}
.content-carrose figure:nth-child(39){
  transform: rotateY(1500deg) translateZ(300px);
}
.content-carrose figure:nth-child(40){
  transform: rotateY(1540deg) translateZ(300px);
}
.content-carrose figure:nth-child(41){
  transform: rotateY(1580deg) translateZ(300px);
}
.content-carrose figure:nth-child(42){
  transform: rotateY(1620deg) translateZ(300px);
}
.content-carrose figure:nth-child(43){
  transform: rotateY(1660deg) translateZ(300px);
}
.content-carrose figure:nth-child(44){
  transform: rotateY(1700deg) translateZ(300px);
}
.content-carrose figure:nth-child(45){
  transform: rotateY(1740deg) translateZ(300px);
}
.content-carrose figure:nth-child(46){
  transform: rotateY(1780deg) translateZ(300px);
}
.content-carrose figure:nth-child(47){
  transform: rotateY(1820deg) translateZ(300px);
}
.content-carrose figure:nth-child(48){
  transform: rotateY(1860deg) translateZ(300px);
}
.content-carrose figure:nth-child(49){
  transform: rotateY(1900deg) translateZ(300px);
}
.content-carrose figure:nth-child(50){
  transform: rotateY(1940deg) translateZ(300px);
}
.content-carrose figure:nth-child(51){
  transform: rotateY(1980deg) translateZ(300px);
}
.content-carrose figure:nth-child(52){
  transform: rotateY(2020deg) translateZ(300px);
}
.content-carrose figure:nth-child(53){
  transform: rotateY(2060deg) translateZ(300px);
}
.content-carrose figure:nth-child(54){
  transform: rotateY(2100deg) translateZ(300px);
}
.content-carrose figure:nth-child(55){
  transform: rotateY(2140deg) translateZ(300px);
}
.content-carrose figure:nth-child(56){
  transform: rotateY(2180deg) translateZ(300px);
}
.content-carrose figure:nth-child(57){
  transform: rotateY(2220deg) translateZ(300px);
}
.content-carrose figure:nth-child(58){
  transform: rotateY(2260deg) translateZ(300px);
}
.content-carrose figure:nth-child(59){
  transform: rotateY(2300deg) translateZ(300px);
}
.content-carrose figure:nth-child(60){
  transform: rotateY(2340deg) translateZ(300px);
}
.content-carrose figure:nth-child(61){
  transform: rotateY(2380deg) translateZ(300px);
}
.content-carrose figure:nth-child(62){
  transform: rotateY(2420deg) translateZ(300px);
}
.content-carrose figure:nth-child(63){
  transform: rotateY(2460deg) translateZ(300px);
}
.content-carrose figure:nth-child(64){
  transform: rotateY(2500deg) translateZ(300px);
}
.content-carrose figure:nth-child(65){
  transform: rotateY(2540deg) translateZ(300px);
}
.content-carrose figure:nth-child(66){
  transform: rotateY(2580deg) translateZ(300px);
}
.content-carrose figure:nth-child(67){
  transform: rotateY(2620deg) translateZ(300px);
}
.content-carrose figure:nth-child(68){
  transform: rotateY(2660deg) translateZ(300px);
}
.content-carrose figure:nth-child(69){
  transform: rotateY(2700deg) translateZ(300px);
}
.content-carrose figure:nth-child(70){
  transform: rotateY(2740deg) translateZ(300px);
}
.content-carrose figure:nth-child(71){
  transform: rotateY(2780deg) translateZ(300px);
}
.content-carrose figure:nth-child(72){
  transform: rotateY(2820deg) translateZ(300px);
}
.content-carrose figure:nth-child(73){
  transform: rotateY(2860deg) translateZ(300px);
}
.content-carrose figure:nth-child(74){
  transform: rotateY(2900deg) translateZ(300px);
}
.content-carrose figure:nth-child(75){
  transform: rotateY(2940deg) translateZ(300px);
}
.content-carrose figure:nth-child(76){
  transform: rotateY(2980deg) translateZ(300px);
}
.content-carrose figure:nth-child(77){
  transform: rotateY(3020deg) translateZ(300px);
}
.shadow {
  position: absolute;
  box-shadow: 0p 0px 20px 0px black;
  border-radius: 2px;
}
.content-carrose img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrose img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}

